@model PaginatedResultSet<Movie>

<div class="container mt-4">
    <div class="row row-cols-2 row-cols-md-6 g-4">
        @foreach (var movie in Model.Items)
        {
            @await Html.PartialAsync("_MovieCardPartial", movie)
        }
    </div>
</div>

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item" id="previousBtn">
            <a class="page-link" asp-action="MoviesByGenre" asp-route-genreId="@ViewBag.GenreId" asp-route-pageNumber="@(Model.Page - 1)"><</a>
        </li>

        @if (Model.Page > 3)
        {
            <li class="page-item">
                <a class="page-link" asp-action="MoviesByGenre" asp-route-genreId="@ViewBag.GenreId" asp-route-pageNumber="1">1</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        }

        @for (int i = Math.Max(1, Model.Page - 2); i <= Math.Min(Math.Max(1, Model.Page - 2) + 4, Model.TotalPages); i++)
        {
            <li class="page-item @(i == Model.Page ? "active" : "")">
                <a class="page-link" asp-action="MoviesByGenre" asp-route-genreId="@ViewBag.GenreId" asp-route-pageNumber="@i">@i</a>
            </li>
        }
        
        @if (Model.Page < Model.TotalPages - 2)
        {
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="MoviesByGenre" asp-route-genreId="@ViewBag.GenreId" asp-route-pageNumber="@Model.TotalPages">@Model.TotalPages</a>
            </li>
        }

        <li class="page-item" id="nextBtn">
            <a class="page-link" asp-action="MoviesByGenre" asp-route-genreId="@ViewBag.GenreId" asp-route-pageNumber="@(Model.Page + 1)">></a>
        </li>
    </ul>
</nav>

<script>
    var previousBtn = document.getElementById("previousBtn");
    var nextBtn = document.getElementById("nextBtn");

    if (@Model.HasPrevious.ToString().ToLower()) {
        previousBtn.classList.remove('disabled');
    } else {
        previousBtn.classList.add('disabled');
    }
    
    if (@Model.HasNext.ToString().ToLower()) {
        nextBtn.classList.remove('disabled');
    } else {
        nextBtn.classList.add('disabled');
    }
</script>
